body {
	font-family: sans-serif;
	line-height: 1.5;
}

.cur-position {
	text-align: right;
}

.debug {
    width: 20px;
    height: 20px;
	margin-left: 10px;
}

.flag {
	width: 30px;
	height: 20px;
	margin-left: 10px;
}

header {
	padding: 30px 30px 40px;
	background-color: #f7e017;
	margin-bottom: 30px;
}

h1 {
	font-size: 38px;
	font-weight: 600;
	margin-bottom: 5px;
    margin-top: 0;
}

h2 {
	font-weight: 600;
	margin-bottom: 5px;
	text-align: center;
    margin-top: 0;
}

.left {
	text-align: right;
}

.legend {
	text-align: right;
}

.list-header {
	text-align: center;
}

.node {
	height: 40px;
	width: 40px;
}

.pattern_list {
	margin-left: 10px;
    color: blueviolet;
}

.project-name {
	font-size: 20px;
	font-weight: 600;
	color: #bba800;
}

.right {
	text-align: left;
}

.speed {
	height: 20px;
	width: 30px;
	margin-left: 10px;
}

.split {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.text-block {
	background-color: rgb(204, 214, 223);
	padding: 15px;
	height: 30px;
	font-size: 22px;
	margin-top: 20px;
}

.top {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	text-align: center;
}

#cy {
    width: full;
    height: 500px;
    display: block;
    background-color: #fff;
}


